/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ffae00;
    /* padding: 40px 40px; */
  }
  
  .navbar-brand {
    color: black !important;
    /* font-size: 50px; */
    font-weight: bold;
    text-decoration: none;
    padding: 20px 20px;
    /* color: white; */
    }
  
  .navbar-links {
    list-style: none;
    display: flex;
    font-weight: bold;
    padding: 20px 20px;
    
  }
  
  .navbar-link {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: color 0.3s;
  }
  
  .navbar-link:hover {
    color: #007bff;
  }
  
  