/* Container for the transaction history page */
.transactions-container {
    padding: 20px;
  }
  
  /* Styling for the transaction table */
  .transaction-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* Styling for the table headers */
  .transaction-table th {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: left;
  }
  
  /* Styling for the table data cells */
  .transaction-table td {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
  }
  
  /* Alternating row colors for better readability */
  .transaction-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* background colour for rows of transaction details */
  .credit-row{
    background-color:rgb(139, 209, 139);
  }
  .debit-row{
    background-color:rgb(219, 120, 120);
  }
  .withdraw-row{
    background-color:rgb(70, 165, 160)
  }